I speak 
{{view "select" content=natives class="topcoat-select"}}
<hr />
and I need a translator who speaks
<ul class="topcoat-list">
  {{#each languages}}
    <li>
      <button class="topcoat-button" {{action 'setLanguage' '{{this}}'}}>{{this}}</button>
    </li>
  {{/each}}
</ul>