<h4 id="brand">Index</h4>
Gold

<br />

<button {{action 'login' 'github'}}>github</button>
<button {{action 'login' 'facebook'}}>facebook</button>
<button {{action 'login' 'twitter'}}>twitter</button>
<button {{action 'logout'}}>logout</button>